<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.web.dao.BasicsSttingsDao" >
    <cache></cache>
    <!-- 联表查询开启二级缓存容易出现脏读 -->
    <!-- 查出所有省市 -->
    <select id="getProvincialAndCity" resultType="com.fly.web.pojo.ProvincialAndCityDO" useCache="false">
        select p.provincial,c.city from bbs_provincial as p left join bbs_city as c on p.pid = c.pid
    </select>
    <!-- 查出该用户名数量 -->
    <select id="isExistNickname" resultType="java.lang.Integer" useCache="false">
        select count(*) from bbs_user where user_name = #{newNickname}
    </select>
    <!-- 更新头像图片名称 -->
    <update id="saveUserPicture">
        update bbs_user set user_picture = #{userPictureName} where user_email = #{userEmailName}
    </update>
    <!-- 更新用户基本设置个人资料 -->
    <update id="updateUserInfo">
        update bbs_user set user_name = #{userName},user_gender = #{userGender},user_city = #{userCity},user_sign = #{userSign} where uid = #{uid}
    </update>
</mapper>